.footer {
    background-color: #232323;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }
  
  .social-icons i {
    font-size: 20px;
  }
  